name: Publish to Crates.io

on:
  push:
    # Запускать только когда пушится тег, начинающийся на 'v' (например, v0.1.0)
    tags:
      - 'v*'

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Publish to Crates.io
        # Используем секрет, который мы добавили выше
        run: cargo publish --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
